html,
body {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.carousel {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1250px;
  height: 500px;
  background-color: var(--color-tertiary);
  border-radius: 10px;
}

.carousel__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  padding: 15px;
}

.carousel__head__title {
  font-size: 2rem;
  font-weight: 900;
  color: var(--color-primary);
}

.carousel__head__button {
  background-color: var(--color-primary);
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.carousel__head__button:hover {
  filter: brightness(1.5);
  transition: 0.3s;
}

.carousel__head__button:not(:hover) {
  transition: 0.3s;
}

.carousel__content {
  display: flex;
  align-self: flex-end;
  width: 95%;
  padding: 20px 0px 20px 20px;
  overflow: hidden;
}

.carousel__card {
  min-width: 315px;
  min-height: 235px;
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: 4px 4px 20px rgba(120, 135, 182, 0.1);
  background-color: #fff;
}

.card__main-info {
  padding: 20px 20px;
}

.card__main-info__title {
  margin: 15px 0;
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-primary);
}

.card__workload-info {
  display: flex;
  align-items: center;
  padding: 20px;
  border-top: 1px solid var(--color-quaternary);
}

.card__workload-info__text {
  margin-left: 15px;
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-secondary);
}

:root {
  --color-primary: #093366;
  --color-secondary: #bec8d8;
  --color-tertiary: #f4f8fe;
  --color-quaternary: #f2f7fe;
}

@media (max-width: 1440px) {
  .carousel {
    width: 750px;
  }
}

@media (max-width: 768px) {
  .carousel {
    width: 500px;
  }
}
